{% extends "base.html" %}
{% block title %}Your Bujo{% endblock title%}
{% block header %}Your Bullet Journal{% endblock header %}
{% block content %}
   <center>
      {% if request.method == "GET" %}
         <form action="home" method="POST">
         {% csrf_token %}
         {{ form }}
      <input type="submit" value="OK">
      </form>
      {% endif %}
      {% if request.method == "POST" %}
      <h3> Hello, {{ UserName }}! Today is going to be a great day! </h3>
      {% endif %}
   </center>
   
{% endblock content %}