{% extends "base.html" %}
{% block title %}Key{% endblock title %}
{% block header %}Key{% endblock header %}
{% block content %}
    <center>
            <h2>Tasks: things you have to do</h2>
                <span>&#8226;</span> Tasks: Things you have to do<br>
                <span>&#8259;</span> Notes: Things you don't want to forget<br>
                <span>&#9900;</span> Events: Noteworthy moments in time<br>
                <span>&#8226;</span> Task Incomplete<br>
                <span>&#879;</span> Task Complete<br>
    </center>
{% endblock content %}

